.cartArea {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  min-height: 85vh;
  height: auto;
  padding: 1.32rem 0;
  flex-grow: 1;
}

.main {
  background-color: #f0f0f0;
}

.cartEmpty {
  font-size: 2rem;
  font-weight: 800;
}

.cartEmptyProductLink {
  font-size: 1.5rem;
  margin-top: 0;
}

.cart {
  color: #213547;
}

.cartProductsDiv {
  width: 35%;
  min-width: 600px;
}

.cartCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(20% - 2rem);
  max-height: 380px;
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 1rem;
  transition: 0.1s;
}

.cartContent {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* background-color: #efefef; */
  justify-self: center;
  align-items: center;
  padding: 2.3rem 0.5rem;
}

.cartContent h2 {
  color: #444444;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0.7rem; /* jesus */
}

.cartProduct {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  max-height: 5%;
  background-color: #efefef;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 1.5rem 0.5rem;
}

.cartProductImage {
  width: 100px;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-self: center;
}

.cartPrice {
  width: 30%;
  border: 1px green solid;
  align-self: flex-end;
}

.cartProductName {
  width: 50%;
  font-size: 0.9rem;
  align-self: center;
  text-align: center;
}

.cartProductQuantity {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 1rem;
}

.cartQuantityInput {
  width: 30px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cartProductPrice {
  margin: 0;
}

.cartFinalDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
}

.removeBtn {
  background-color: #aa2334;
  color: black;
  border-radius: 0px;
  margin: 0.5rem;
  cursor: pointer;
  justify-self: flex-end;
}

.cartProductQuantity > button {
  border: solid 2px black;
  cursor: pointer;
  margin: 0 0.5rem;
  max-width: 20px;
  display: flex;
  justify-content: center;
}

.cartProductPrice {
  margin: 0;
}

.productMult {
  margin: 0;
}

.cartProductTotal {
  margin: 0;
  font-weight: 800;
  font-size: 1.2rem;
}

.cartPriceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.cartTotalFinalDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cartCheckoutBtn {
  width: 50%;
  align-self: center;
  font-weight: 800;
  background-color: #00ff00;
}

.totalProduct {
  border-bottom: 2px solid black;
}

.totalProductMult {
  margin: 0.2rem;
}

.lineTotal {
  font-weight: 700;
}
