#root,
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 760px;
}

li {
  margin: 0;
  padding: 0;
}

a {
  padding: 0.9rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  /* background-image: url("images/backgroundRainImage.jpeg"); */
  /* Not needed since bg image is defined in the jsx */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; /* This hides the scrollbar on initial animation */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #555555;
  color: white;
  min-height: 48px;
  height: 5%;
  display: flex;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.navBar {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-links-start {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.nav-links-end li,
.nav-links-start li {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

.verticalSeparator {
  height: 100%;
  width: 1px;
  background-color: black;
}
.nav-links-end li:hover,
.nav-links-start li:hover {
  background-color: #676767;
  cursor: pointer;
}

.nav-links-end a,
.nav-links-start a {
  color: white;
  text-decoration: none;
}

.nav-links-end li a:hover,
.nav-links-start li a:hover {
  text-decoration: none;
  color: white;
}

.nav-links-end {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalPrice {
  font-weight: 800;
  font-size: 1.05rem;
}
